input[type=range][aria-orientation=vertical] {
    appearance: slider-vertical;

}

#tickMarks option {
    /* Style the tickmark values */
    color: white; /* Change color as needed */
    font-size: 20px; /* Adjust font size */
  } 